.clearing{
    font-family: DancingScript;
    font-size: 20pt;
    overflow: auto;
    text-align: center;
    font-style: bold;
}

#clear{
    clear: left;
}

footer{
    background: rgba(29, 114, 184, 0.75);
}